<div ng-include="'app/components/navbar/navbar.html'")></div>
  <div class = "container" ng-cloak>
    <div ng-hide = 'showRoom'>
      <div hide-xs hide-sm class = 'image_wrapper'>
        <img src = 'image.jpg'></img>
        <span class = 'motto'>
          <h1>Лучший способ сделать ребенка хорошим -
            <br>
            сделать его
            <span class = 'happy'>счастливым</span>
          </h1>
        <span>
      </div>

      <div class = 'advantage_container'>
        <div layout = 'row' class='advantages top_advantages'>
          <h1>Наши преимущества
          </h1>
        </div>

        <div layout = 'row' layout-xs = 'column'  class='advantages'>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Сбалансированное питание из натуральных свежих продуктов</div>
          </div>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Физическое и интеллектуальное развитие детей</div>
          </div>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Обучающие занятия для подготовки к школе</div>
          </div>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Месторасположение вдали от автомобильных дорог</div>
          </div>
        </div>
      </div>
      <div class = 'leave_message'>
        <div>
          <md-button>Написать нам</md-button>
        </div>
      </div>
      <div class = 'environment_container'>
        <div layout = 'row' class='environment top_advantages'>
          <h1>Развивающая среда
          </h1>
        </div>
      </div>
      <md-content class = 'rooms'>
        <div >
          <div layout-sm="column" layout="row" class="" ng-repeat="posts in chunkedData">
            <md-card ng-repeat="post in posts" flex>
              <div ng-include="'app/views/room/card.html'")></div>
            </md-card>
          </div>
        </div>
      </md-content>

      <md-content >
        <div ng-show='showForm && currentUser' layout-padding>
          <h1>Добавить комнату</h1>
          <form ng-submit="addPost()" name="postForm">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Название</label>
                <input ng-model="Item.title">
              </md-input-container>
            </div>
            <md-input-container class="md-block">
              <label>Описание</label>
              <!-- <textarea  ui-tinymce="tinymceOptions" ng-model="Item.body"  rows="5" md-select-on-focus></textarea> -->
              <textarea ckeditor="editorOptions" ng-model="Item.body"></textarea>

            </md-input-container>
            <!-- <md-input-container class="md-block">
              <input name="image" type="file" id="upload" style = 'display:none;' onchange="">
            </md-input-container> -->
            <md-button class = "md-raised md-primary" ng-click="addPost(Item, 'main');">Добавить</md-button>
          </form>
        </div>
      </md-content>
    </div>
  </div>
</div>
<div ng-show = 'showRoom'>
  <div ng-show='editing && currentUser'>
    <!-- <div ng-include="'app/views/room/edit.html'")></div> -->
    <h1>Update post</h1>
    <form ng-submit="editing = false" >
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Title</label>
          <input ng-model="room.title">
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <textarea ckeditor ng-model="room.body" rows = '200'></textarea>
      </md-input-container>
      <md-button class = "md-raised md-primary" ng-click = 'updatePost(room)' type = 'submit'>Обновить</md-button>
      <md-button class = "md-raised" ng-click = 'editing = false;showEditForm(true);'>Отмена</md-button>
    </form>

    Links to images
    <div ng-repeat = 'image in room.images'>
      <div ng-click='setAsBanner(image);' ng-class = "{is_banner: image.is_banner == true}">
        <!-- {{image.is_banner == true}} -->
        <img class='preview' src='{{image.link}}'>
        <span>{{image.link}}<span>
      </div>
    </div>

  </div>
  <div ng-hide='editing'>
    <div ng-include="'app/views/room/show.html'")></div>
  </div>
</div>
