<div ng-include="'app/components/navbar/navbar.html'")></div>
  <div class = "container" ng-cloak>


    <div ng-hide = 'showRoom'>
      <div hide-xs hide-sm class = 'image_wrapper'>
        <img src = 'image.jpg'></img>
        <span class = 'motto'>
          <h1>Лучший способ сделать ребенка хорошим -
            <br>
            сделать его
            <span class = 'happy'>счастливым</span>
          </h1>
        <span>
      </div>

      <div class = 'advantage_container'>
        <div layout = 'row' class='advantages top_advantages'>
          <h1>Наши преимущества
          </h1>
        </div>

        <div layout = 'row' layout-xs = 'column'  class='advantages'>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Сбалансированное питание из натуральных свежих продуктов</div>
          </div>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Физическое и интеллектуальное развитие детей</div>
          </div>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Обучающие занятия для подготовки к школе</div>
          </div>
          <div flex='25' layout = 'row' class = 'advantage'>
            <img src = 'app/components/images/like-icon.png'></img>
            <div class = 'advantage_text'>Месторасположение вдали от автомобильных дорог</div>
          </div>
        </div>
      </div>
      <div class = 'leave_message'>
        <div>
          <md-button>Написать нам</md-button>
        </div>
      </div>
      <div class = 'environment_container'>
        <div layout = 'row' class='environment top_advantages'>
          <h1>Развивающая среда
          </h1>
        </div>
      </div>
      <md-content class = 'rooms'>
        <div layout-sm="column" layout="row">
          <md-card ng-repeat="post in posts" flex>
            <div flex ng-hide='editing'>
              <div class = 'banner'>
                <img ng-src="{{post.banner}}" class="md-card-image" alt="Washed Out">
              </div>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{post.title}}</span>
                  <!-- <hr style = 'width: 500px'> -->
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="center"></md-card-actions>
              <md-card-content>
                <!-- {{ post.body | limitTo : 500}} -->
                <p ng-bind-html = "codeToHtml(post.body | limitTo: 500)"></p>
              </md-card-content>
              <md-card-actions layout="row" layout-align="center">
                <md-button ng-click = 'showPost(post)'>Посмотреть</md-button>
              </md-card-actions>
              <md-card-footer ng-hide='editing'>
                <span ng-show = 'currentUser'>
                  <md-button class="md-warn" ng-click="showConfirm($event, $index)">Удалить комнату</md-button>
                  <md-button class="md-primary" ng-click="editing = true;showEditForm(false);">Редактировать</md-button>
                </span>
              </md-card-footer>
            </div>

            <div ng-show='editing && currentUser'>
              <h1>Update post</h1>
              <form ng-submit="editing = false">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Title</label>
                    <input ng-model="post.title">
                  </md-input-container>
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Banner</label>
                  <input ng-model="post.banner">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Type your post here...</label>
                  <textarea ui-tinymce="tinymceOptions" ng-model="post.body"  rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <md-button class = "md-raised md-primary" ng-click = 'updatePost(post)'type = 'submit'>Обновить</md-button>
                <md-button class = "md-raised" ng-click = 'editing = false;showEditForm(true);'>Отмена</md-button>
              </form>
            </div>
          </md-card>
        </div>
      </md-content>

      <md-content >
        <div ng-show='showForm && currentUser' layout-padding>
          <h1>Добавить комнату</h1>
          <form ng-submit="addPost()" name="postForm">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Название</label>
                <input ng-model="Item.title">
              </md-input-container>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Banner</label>
              <input ng-model="Item.banner">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Описание</label>
              <textarea ng-model="Item.body"  rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <md-button class = "md-raised md-primary" ng-click="addPost(Item, 'main');">Добавить</md-button>
          </form>
        </div>
      </md-content>
    </div>



</div>
<div ng-show = 'showRoom'>
  <md-button class = "md-raised md-primary back_button" ng-click = 'hideRoom();'>Назад</md-button>
  <div class = 'banner'>
    <img  src = {{room.banner}}></img>
  </div>
  <div>{{room.title}}<div>
  <p ng-bind-html = "codeToHtml(room.body)"></p>
</div>
