





<div class = 'navbar'>
<ul class="nav">
  <li><a ng-class="{active:path == '/main'}" href="#/main">Главная</a></li>
  <li class="drop"><a ng-class="{active:path == '/about'}" href = "#/about">О нас</a>
    <ul>
      <li><a href="#/about#anchor0">История</a></li>
      <li><a href="#/about#anchor1">Наш коллектив</a></li>
      <li><a href="#/about#anchor2">Наши достижения</a></li>
      <li><a href="#/about#anchor3">Вышестоящие органы</a></li>
    </ul>
  </li>

  <li class="drop"><a ng-class="{active:path == '/activity'}" href = "#/activity">Деятельность</a>
    <ul>
      <li><a href="#/activity#anchor0">Нормативно-правовая база</a></li>
      <li><a href="#/activity#anchor1">Образователные услуги</a></li>
      <li><a href="#/activity#anchor2">Одно окно</a></li>
    </ul>
  </li>

  <li class="drop"><a ng-class="{active:path == '/for_parents'}" href = "#/for_parents">Родителям</a>
    <ul>
      <li><a href="#/for_parents#anchor0">Оформление в УДО</a></li>
      <li><a href="#/for_parents#anchor1">Полезная информация</a></li>
      <li><a href="#/for_parents#anchor2">Попечительский совет</a></li>
    </ul>
  </li>

  <li class="drop"><a ng-class="{active:path == '/method'}" href = "#/method">Методичка</a>
    <ul>
      <li><a href="#/method#anchor0">Методическая работы</a></li>
      <li><a href="#/method#anchor1">Из опыта работы</a></li>
      <li><a href="#/method#anchor2">Планируемые мероприятия</a></li>
    </ul>
  </li>

  <li><a ng-class="{active:path == '/photos'}" href = "#/photos">Фотогаллерея</a></li>
  <li><a ng-class="{active:path == '/posts'}" href="#/posts">Новости</a></li>
  <li ng-hide = 'currentUser' ><a href="#/login">Войти</a></li>
  <li ng-show= 'currentUser' ng-click = 'logout()'>{{ currentUser.username }} logout </li>


</ul>
</div>
